<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
  <div class="content">
    <div class="newCont">
      <h2>El dolar sube :C</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Redactado por Chumel Torres, Sep 27, 2015.</h5>
      <h5><span class="label label-danger">USA</span> <span class="label label-primary">Finanzas</span></h5><br>
      <div class="imgCont">
        <img class="newImg" src="https://imgs.search.brave.com/R7T4wQvfzMXUcnO4bfMIwajq8_Yhmzqqqg_iz9eqe2g/rs:fit:632:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5H/VHpvZGdoUngzUVJn/c1RwbXFrM0tRSGFG/aiZwaWQ9QXBp">
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>
</body>
</html>