<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">    
        <div class="card-sl">
            <div class="news-image">
                <img
                    src="{{libros[3]}}"
                    >
            </div>
            <div class="headingCont">
                <div class="card-heading">
                    {{libros[0]}}
                </div>
            </div>
            <div class="card-text">
                Overwiew de la noticia
            </div>
            <div class="card-text">
                Fecha de publicación
            </div>
            <a href="#" class="card-button"> Ver noticia</a>
        </div>  
    </div>
</body>
</html>
    