<!-- No se porqué rompe la UI si esta con otros componentes xd pero solito jala bien -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class=" text-center mt-5 ">
            <h1 >Formulario de Noticia</h1>  
        </div>
    <div class="row ">
      <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 bg-light">
            <div class="card-body bg-light">
                <div class = "container">
                    <form id="contact-form" role="form">    
                        <div class="controls">
    
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_name">Título *</label>
                                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Título de la nota *" required="required" data-error="Firstname is required.">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_lastname">Ubicación *</label>
                                        <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Ubicación de la nota *" required="required" data-error="Lastname is required.">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_email">Autor *</label>
                                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Autor de la nota *" required="required" data-error="Valid email is required.">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_need">Categiría de noticia *</label>
                                        <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                                            <option value="" selected disabled>-- Categoría --</option>
                                            <option >Request Invoice for order</option>
                                            <option >Request order status</option>
                                            <option >Haven't received cashback yet</option>
                                            <option >Other</option>
                                        </select>
                            
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_message">Contenido de la noticia *</label>
                                        <textarea id="form_message" name="message" class="form-control" placeholder="Descripción." rows="4" required="required" data-error="Please, leave us a message."></textarea>
                                    </div>
                                </div>
    
                                <div class="col-md-13">   
                                    <input type="submit" class="btn btn-success btn-send  pt-2 btn-block" value="Guardar noticia" >
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>    
    </div>    
</div>
</div>
</body>
</html>
